body{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.wrapper h2{
    font-size: 34px;
    color: white;
    text-align: center;
}

.msgContainer{
    border: none;
    border-radius: 15px;
    width: 680px;
    height: 550px;
    padding: 8px 10px;
    background-color: rgb(70, 112, 126);
    overflow-y: scroll; 
}

.msgContainer::-webkit-scrollbar {
  width: 8px;
}

.msgContainer::-webkit-scrollbar-track {
  background: hsl(196, 29%, 38%);
  border-radius: 10px;
}

.msgContainer::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  border: 2px solid hsl(196, 29%, 38%);
}

.msgInnerContainer{
    display: flex;
    column-gap: 8px;
    margin-bottom: 8px;
    background: transparent;
    cursor: default;
}

.msgInnerContainer span{
    font-size: 16px;
    background: transparent;
}

.msgInnerContainer p{
    font-size: 16px;
    color: white;
    background: transparent;
}

.msgForm{
    display: flex;
    width: 100%;
    column-gap: 10px;
    margin-left: 8px;
}

.msgForm input{
    width: 560px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(70, 112, 126);
    padding: 8px 12px;
    font-size: 14px;
    color: white;
}

.msgForm input::placeholder{
    color: rgba(245, 245, 245, 0.781);
}

.msgForm button{
    width:90px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

.msgForm button:hover{
    border: none;
    color: white;
    background-color: rgb(70, 112, 126);
}



.leaveContainer{
    position: absolute;
    left: 0;
    margin: 15px;
    
}

.leaveContainer button{
    height: 40px;
    border-radius: 10px;
    padding: 8px 15px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: bold;
}

.leaveContainer button:hover{
    color: white;
    border: none;
    background-color: rgb(70, 112, 126);
}
